.boldtext {
    font-weight: bold;
}
.leftsidedetails {
    padding: 0;
    box-sizing: border-box;
    float: left;
    width: 15rem;
    background-color: #2684AD;
    color: white;
    position: relative;
}
.keyskills {
    background-color: #26408B;
}
h1 {
    font: white;
}
/* .rightsidedetails {
    color: #146287;
} */
.righth2 {
    color: #26408B;
}
.rightsidedetails {
  /* position: relative; */
  margin-left: 300px;
  position: absolute;
}