/* 

.boldtext {
    font-weight: bold;
}
.leftsidedetails {
    list-style: none;
    padding: 0;
    margin: 5px;
    box-sizing: border-box;
    float: left;
    width: 15rem;
    background-color: #2684AD;
    color: white;
    position: relative;
    min-width: 15rem;
}
.keyskills {
    background-color: #26408B;
    text-align: ;
}
h1 {
    font: white;
}

.righth2 {
    color: #26408B;
}
.rightsidedetails {

  margin-left: 20rem;
  position: absolute;
  width:  90%;
  min-width: 300px;
}

@media all and (max-width:700px) {
    body {
     color: blue;
    }

}
.leftsidetext {
    margin: 10px;
}

.email {
    text-decoration: none;
    color: white;
}

.email:hover {
    text-decoration: none;
    color: blue;
} */
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container {
    display: grid;
    grid-template-columns: 1fr 12fr;
}

.leftsidedetails {
    list-style: none;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    background-color: #2684AD;
    color: white;
    width: 250px;
}

.keyskills {
    background-color: #26408B;
    text-align: center;
}

.rightsidedetails {
    padding-left: 10px;
    margin-left: 1px;
    min-width: 400px;
}

.footer {
    text-align: center;
    color: blue;
}

.boldtext {
    font-weight: bold;
}

.email {
    text-decoration: none;
    color: white;
}

.email:hover {
    text-decoration: none;
    color: blue;
}

.alignment {
    padding-left: 100px;
}

.leftsidetext {

}

